Repository cobbler/cobbler-web, changes with the labels that .github/labeler.yml gives for each.
All labels: API-Client, Frontend, TS-XMLRPC, documentation, tests, dependencies

.github/labeler.yml:

API-Client:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-api/*
          - projects/cobbler-api/**/*

Frontend:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-frontend/*
          - projects/cobbler-frontend/**/*

TS-XMLRPC:
  - changed-files:
      - any-glob-to-any-file:
          - projects/typescript-xmlrpc/*
          - projects/typescript-xmlrpc/**/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs-additional/*
          - docs-additional/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: "*.spec.ts"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json

Chore: Upgrade Angular CDK & Material to v20
  package-lock.json
  package.json
Labels: dependencies

Chore: Upgrade Angular core & CLI to v21
  package-lock.json
  package.json
  projects/cobbler-api/tsconfig.lib.json
  projects/cobbler-frontend/src/main.ts
  projects/typescript-xmlrpc/tsconfig.lib.json
  tsconfig.json
Labels: API-Client, Frontend, TS-XMLRPC, dependencies

Chore: Upgrade Angular Eslint to v21
  package-lock.json
  package.json
Labels: dependencies

Chore: Upgrage Angular CDK & Material to v21
  package-lock.json
  package.json
Labels: dependencies

CI: Upgrade Node.js from v18.x to v20.x for Angular 21 compatibility
  .github/workflows/lint.yml
  .github/workflows/testing.yml
Labels: none

Fix: Resolve remaining lint errors
  projects/cobbler-frontend/src/app/actions/build-iso/build-iso.component.ts
  projects/cobbler-frontend/src/app/items/image/create/image-create.component.ts
  projects/cobbler-frontend/src/app/login/login.component.spec.ts
Labels: Frontend

Fix: Sync package-lock with package.json
  package-lock.json
Labels: dependencies

XMLRPC-API: Update for compability with Node.js 20
  package-lock.json
  package.json
  projects/typescript-xmlrpc/src/lib/deserializer.ts
  projects/typescript-xmlrpc/src/lib/serializer.spec.ts
  projects/typescript-xmlrpc/src/lib/serializer.ts
Labels: TS-XMLRPC, dependencies

Cobbler-Frontend: Fix test failing due to missing DI token
  projects/cobbler-frontend/src/app/app.component.spec.ts
Labels: Frontend

Fix: Issue with proxy.conf.json during dev-server startup
  projects/cobbler-frontend/src/proxy.conf.json
Labels: Frontend

Feat (Pagination): Add pagination to the configuration section on navbar
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.html
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.ts
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.html
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.html
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.ts
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.html
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.html
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.html
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.html
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.html
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.ts
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.html
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.ts
Labels: Frontend

Feat (Pagination): Add pagination to the resources section on navbar
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.html
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.ts
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.html
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.ts
Labels: Frontend

Feat (Pagination): Add pagination to the cobbler section on navbar
  projects/cobbler-frontend/src/app/actions/status/status.component.ts
  projects/cobbler-frontend/src/app/app-events/app-events.component.html
  projects/cobbler-frontend/src/app/app-events/app-events.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.html
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@8891150c50e739d90e2fd3b13f12003512a4ac39 🚀
  components/AppEventsComponent.html
  components/DistrosOverviewComponent.html
  components/FileOverviewComponent.html
  components/ImageOverviewComponent.html
  components/ManagementClassOverviewComponent.html
  components/MenuOverviewComponent.html
  components/NetworkInterfaceOverviewComponent.html
  components/PackageOverviewComponent.html
  components/ProfileOverviewComponent.html
  components/RepositoryOverviewComponent.html
  components/SettingsViewComponent.html
  components/SnippetOverviewComponent.html
  components/StatusComponent.html
  components/SystemOverviewComponent.html
  components/TemplateOverviewComponent.html
  coverage.html
  interfaces/NetworkInterfacePair.html
  interfaces/SettingsTableRowData.html
  js/search/search_index.js
Labels: none

Docker: Update Node.js and Nginx images
  Dockerfile
Labels: none

Feat (Login): Add remember username functionality with auto-focus
  projects/cobbler-frontend/src/app/login/login.component.html
  projects/cobbler-frontend/src/app/login/login.component.ts
  projects/cobbler-frontend/src/app/services/user.service.ts
Labels: Frontend

Fix (check-sys): Fix NG0100 error in component test using fakeAsync
  projects/cobbler-frontend/src/app/actions/check-sys/check-sys.component.spec.ts
Labels: Frontend

Fix (check-sys): Add missing tick import in test
  projects/cobbler-frontend/src/app/actions/check-sys/check-sys.component.spec.ts
Labels: Frontend

Fix (Lint): Formatted code to fix linter errors
  projects/cobbler-frontend/src/app/actions/check-sys/check-sys.component.spec.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@fa7dcc4bb60968647c052d740f7424a3e46b15d2 🚀
  components/LogInFormComponent.html
  coverage.html
  injectables/UserService.html
  js/search/search_index.js
  miscellaneous/variables.html
Labels: none

Cobbler-Frontend: Remove unused imports
  projects/cobbler-frontend/src/app/actions/check-sys/check-sys.component.ts
  projects/cobbler-frontend/src/app/actions/repo-sync/repo-sync.component.ts
  projects/cobbler-frontend/src/app/actions/sync/sync.component.ts
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.ts
  projects/cobbler-frontend/src/app/signatures/signatures.component.ts
Labels: Frontend

Ignore: Add Codacy MCP server rules
  .gitignore
Labels: none

Docker: Switch to unprivileged image
  Dockerfile
  docker/default.conf
  docs-additonal/deployment.md
Labels: none

Deploying to gh-pages from @ cobbler/cobbler-web@8c5c4e2abb5c6573df27ce3253585e3250dae4a2 🚀
  additional-documentation/deployment.html
  components/CheckSysComponent.html
  components/MultiSelectComponent.html
  components/RepoSyncComponent.html
  components/SignaturesComponent.html
  components/SyncComponent.html
  interfaces/OsBreedFlatNode.html
  interfaces/OsNode.html
  interfaces/TableRow.html
  js/search/search_index.js
Labels: none

Docker: Use UID 101 for image
  Dockerfile
Labels: none

Feat (UI): Improved side navigation look
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.css
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.html
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.css
  projects/cobbler-frontend/src/app/navbar/navbar.component.html
  projects/cobbler-frontend/src/index.html
  projects/cobbler-frontend/src/styles.scss
Labels: Frontend

CI: Fix Linter failing check
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.html
  projects/cobbler-frontend/src/styles.scss
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@bfed75f11dda579f183d8edbd4b30e7a498bfd98 🚀
  components/ManageMenuComponent.html
  components/NavbarComponent.html
  js/search/search_index.js
Labels: none

CI: Group Angular Dependabot updates
  .github/dependabot.yml
Labels: none

Feat (Datatables): Make datatables searchable
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.html
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.ts
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.html
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.ts
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.html
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.html
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.ts
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.html
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.ts
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.html
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.html
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.html
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.html
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.html
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.ts
Labels: Frontend

Feat (Events): Add filtering to data table
  projects/cobbler-frontend/src/app/app-events/app-events.component.css
  projects/cobbler-frontend/src/app/app-events/app-events.component.html
  projects/cobbler-frontend/src/app/app-events/app-events.component.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@1db78a4f5124346de6796a83f19de264fc82e766 🚀
  components/AppEventsComponent.html
  components/DistrosOverviewComponent.html
  components/FileOverviewComponent.html
  components/ImageOverviewComponent.html
  components/ManagementClassOverviewComponent.html
  components/MenuOverviewComponent.html
  components/PackageOverviewComponent.html
  components/ProfileOverviewComponent.html
  components/RepositoryOverviewComponent.html
  components/SnippetOverviewComponent.html
  components/SystemOverviewComponent.html
  components/TemplateOverviewComponent.html
  coverage.html
  js/search/search_index.js
Labels: none

Feat (Items): Make item names clickable
  projects/cobbler-frontend/src/app/app-events/app-events.component.css
  projects/cobbler-frontend/src/app/app-events/app-events.component.html
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.html
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.scss
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.ts
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.html
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.scss
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.ts
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.html
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.scss
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.html
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.scss
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.ts
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.html
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.scss
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.ts
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.html
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.scss
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.html
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.html
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.scss
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.html
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.scss
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.scss
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.html
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.scss
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.ts
  projects/cobbler-frontend/src/app/signatures/signatures.component.html
  projects/cobbler-frontend/src/app/signatures/signatures.component.spec.ts
  projects/cobbler-frontend/src/app/signatures/signatures.component.ts
Labels: Frontend

Feat (Items): Implement nav to the clicked target
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.html
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.scss
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.ts
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.html
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.scss
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.html
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.scss
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.html
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.scss
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.html
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.scss
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.html
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.html
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.html
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.scss
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.html
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.scss
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.scss
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.html
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.scss
  projects/cobbler-frontend/src/app/signatures/signatures.component.ts
Labels: Frontend

Feat (Signatures): Implement nav & expansion of the clicked target
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.html
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.html
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.html
  projects/cobbler-frontend/src/app/signatures/signatures.component.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@b81ed1efe60da74a427c1f19b68077f3160e1db2 🚀
  components/AppEventsComponent.html
  components/DistrosOverviewComponent.html
  components/FileOverviewComponent.html
  components/ImageOverviewComponent.html
  components/ManagementClassOverviewComponent.html
  components/MenuOverviewComponent.html
  components/PackageOverviewComponent.html
  components/ProfileOverviewComponent.html
  components/RepositoryOverviewComponent.html
  components/SignaturesComponent.html
  components/SnippetOverviewComponent.html
  components/SystemOverviewComponent.html
  components/TemplateOverviewComponent.html
  coverage.html
  interfaces/OsBreedFlatNode.html
  interfaces/OsNode.html
  interfaces/TableRow.html
  js/search/search_index.js
Labels: none

Feat: Style breadcrumb & add tests
  projects/cobbler-frontend/src/app/app-manage/app-manage-shell.spec.ts
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/app/app.component.html
  projects/cobbler-frontend/src/app/app.component.ts
  projects/cobbler-frontend/src/app/items/distro/distro-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/file/file-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/image/image-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/management-class/management-class-snippet.spec.ts
  projects/cobbler-frontend/src/app/items/menu/menu-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/network-interface-shell.spec.ts
  projects/cobbler-frontend/src/app/items/package/package-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/profile-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/repository/repository-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/snippet/snippet-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/system-shell.component.spec.ts
  projects/cobbler-frontend/src/app/items/template/template-shell.component.spec.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.css
  projects/cobbler-frontend/src/app/navbar/navbar.component.css
  projects/cobbler-frontend/src/app/navbar/navbar.component.html
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
Labels: Frontend

Switch to Vitest
  .github/workflows/testing.yml
  angular.json
  package-lock.json
  package.json
  projects/cobbler-api/karma.conf.js
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-frontend/karma.conf.js
  projects/cobbler-frontend/src/app/actions/check-sys/check-sys.component.spec.ts
  projects/cobbler-frontend/src/app/login/login.component.spec.ts
  projects/typescript-xmlrpc/karma.conf.js
  projects/typescript-xmlrpc/src/lib/typescript-xmlrpc.service.spec.ts
  projects/typescript-xmlrpc/src/test-globals.ts
  projects/typescript-xmlrpc/vitest.config.ts
Labels: API-Client, Frontend, TS-XMLRPC, dependencies

CI: Remove container with Chrome
  .github/workflows/docs.yml
  .github/workflows/testing.yml
Labels: none

Chore: Optimize parent routing
  projects/cobbler-frontend/src/app/app-manage/app-manage-shell.component.ts
  projects/cobbler-frontend/src/app/app-manage/app-manage-shell.spec.ts
  projects/cobbler-frontend/src/app/app-manage/app-manage.component.html
  projects/cobbler-frontend/src/app/app-manage/app-manage.component.scss
  projects/cobbler-frontend/src/app/app-manage/app-manage.component.ts
  projects/cobbler-frontend/src/app/app-manage/index.ts
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/app/common/view-autoinstall/view-autoinstall.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.html
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.html
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.ts
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.html
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.html
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.ts
  projects/cobbler-frontend/src/app/items/snippet/edit/snippet-edit.component.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.ts
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.html
  projects/cobbler-frontend/src/app/navbar/navbar.component.css
Labels: Frontend
