Repository cobbler/cobbler-web, changes with the labels that .github/labeler.yml gives for each.
All labels: API-Client, Frontend, TS-XMLRPC, documentation, tests, dependencies

Cobbler-Frontend: Add option to load config from an external source
  projects/cobbler-frontend/src/app/services/app-config.service.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@197d0874c264d457bd58bd654409e5c88f54cf77 🚀
  coverage.html
  injectables/AppConfigService.html
  interfaces/AppConfig.html
  js/search/search_index.js
Labels: none

Cobbler-Frontend: Deduplicate the inherit button
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.html
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.html
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.html
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.html
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.html
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/utils.ts
Labels: Frontend

Cobbler-Frontend: Deduplicate common field metadata
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/metadata.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
Labels: Frontend

CI: Update to actions/cache@v4
  .github/workflows/lint.yml
Labels: none

Cobbler-Frontend: Deduplicate adding fields to FormGroups
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/utils.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@f6225899858d16981cb9161855ab7314c59a1f48 🚀
  classes/Utils.html
  components/DistroEditComponent.html
  components/FileEditComponent.html
  components/ImageEditComponent.html
  components/ManagementClassEditComponent.html
  components/MenuEditComponent.html
  components/PackageEditComponent.html
  components/ProfileEditComponent.html
  components/RepositoryEditComponent.html
  components/SystemEditComponent.html
  coverage.html
  interfaces/CobblerInputData.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  miscellaneous/enumerations.html
  miscellaneous/variables.html
Labels: none

Cobbler-Frontend: Ensure unique item selectors
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.ts
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.ts
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.ts
  projects/cobbler-frontend/src/app/items/snippet/edit/snippet-edit.component.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.ts
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Save auth token in localStorage
  projects/cobbler-frontend/src/app/login/login.component.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
  projects/cobbler-frontend/src/app/services/auth-guard.service.ts
  projects/cobbler-frontend/src/app/services/user.service.ts
Labels: Frontend

Cobbler-Frontend: Add view/edit Network Interface support
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.html
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.scss
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.html
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.scss
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Save auth token in localStorage
  projects/cobbler-frontend/src/app/login/login.component.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
  projects/cobbler-frontend/src/app/services/auth-guard.service.spec.ts
  projects/cobbler-frontend/src/app/services/auth-guard.service.ts
  projects/cobbler-frontend/src/app/services/user.service.ts
Labels: Frontend

Cobbler-API: Fix incorrect type for connected_mode
  projects/cobbler-api/src/lib/custom-types/items.ts
Labels: API-Client

Cobbler-Frontend: Add view/edit Network Interface support
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.html
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.scss
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.html
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.scss
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
  projects/cobbler-frontend/src/app/utils.ts
Labels: Frontend

CI: Push container image on tag
  .github/workflows/container-build-push.yml
Labels: none

Cobbler-Frontend: Add creation of distro objects
  projects/cobbler-frontend/src/app/items/distro/create/distro-create.component.html
  projects/cobbler-frontend/src/app/items/distro/create/distro-create.component.scss
  projects/cobbler-frontend/src/app/items/distro/create/distro-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/distro/create/distro-create.component.ts
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.css
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.html
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.scss
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of system objects
  projects/cobbler-frontend/src/app/items/system/create/system-create.component.html
  projects/cobbler-frontend/src/app/items/system/create/system-create.component.scss
  projects/cobbler-frontend/src/app/items/system/create/system-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/create/system-create.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.scss
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of profile objects
  projects/cobbler-frontend/src/app/items/profile/create/profile-create.component.html
  projects/cobbler-frontend/src/app/items/profile/create/profile-create.component.scss
  projects/cobbler-frontend/src/app/items/profile/create/profile-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/create/profile-create.component.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.html
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of menu objects
  projects/cobbler-frontend/src/app/items/menu/create/menu-create.component.html
  projects/cobbler-frontend/src/app/items/menu/create/menu-create.component.scss
  projects/cobbler-frontend/src/app/items/menu/create/menu-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/menu/create/menu-create.component.ts
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.html
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.scss
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of package objects
  projects/cobbler-frontend/src/app/items/package/create/package-create.component.html
  projects/cobbler-frontend/src/app/items/package/create/package-create.component.scss
  projects/cobbler-frontend/src/app/items/package/create/package-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/package/create/package-create.component.ts
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.html
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.scss
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of management class objects
  projects/cobbler-frontend/src/app/items/management-class/create/management-class-create.component.html
  projects/cobbler-frontend/src/app/items/management-class/create/management-class-create.component.scss
  projects/cobbler-frontend/src/app/items/management-class/create/management-class-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/management-class/create/management-class-create.component.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.html
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.scss
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of repository objects
  projects/cobbler-frontend/src/app/items/repository/create/repository-create.component.html
  projects/cobbler-frontend/src/app/items/repository/create/repository-create.component.scss
  projects/cobbler-frontend/src/app/items/repository/create/repository-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/repository/create/repository-create.component.ts
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.html
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.scss
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of network interface objects
  projects/cobbler-frontend/src/app/items/network-interface/create/network-interface-create.component.html
  projects/cobbler-frontend/src/app/items/network-interface/create/network-interface-create.component.scss
  projects/cobbler-frontend/src/app/items/network-interface/create/network-interface-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/create/network-interface-create.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.html
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.scss
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of file objects
  projects/cobbler-frontend/src/app/items/file/create/file-create.component.html
  projects/cobbler-frontend/src/app/items/file/create/file-create.component.scss
  projects/cobbler-frontend/src/app/items/file/create/file-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/file/create/file-create.component.ts
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.html
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.scss
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of snippet objects
  projects/cobbler-frontend/src/app/items/snippet/create/snippet-create.component.html
  projects/cobbler-frontend/src/app/items/snippet/create/snippet-create.component.scss
  projects/cobbler-frontend/src/app/items/snippet/create/snippet-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/snippet/create/snippet-create.component.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.html
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.scss
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of image objects
  projects/cobbler-frontend/src/app/items/image/create/image-create.component.html
  projects/cobbler-frontend/src/app/items/image/create/image-create.component.scss
  projects/cobbler-frontend/src/app/items/image/create/image-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/image/create/image-create.component.ts
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.html
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.scss
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.ts
Labels: Frontend

Cobbler-Frontend: Add creation of template objects
  projects/cobbler-frontend/src/app/items/template/create/template-create.component.html
  projects/cobbler-frontend/src/app/items/template/create/template-create.component.scss
  projects/cobbler-frontend/src/app/items/template/create/template-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/template/create/template-create.component.ts
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.html
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.scss
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.ts
Labels: Frontend

Docs: Explain HelmChart deployment
  docs-additonal/deployment.md
Labels: none

Docker: Group consecutive RUN instructions
  Dockerfile
Labels: none

Docker: Lowercase stage name
  Dockerfile
Labels: none

Update favicon to Cobbler logo
  projects/cobbler-frontend/src/favicon.ico
Labels: Frontend

Docker: Allow mounting configuration file
  Dockerfile
  docker/99-cobbler-web-entrypoint.sh
Labels: none

Docker: Nginx config for Angular
  Dockerfile
  docker/default.conf
Labels: none

Deploying to gh-pages from @ cobbler/cobbler-web@2fb3b7d25992c8b57427888528928dd443986a90 🚀
  additional-documentation/deployment.html
  js/search/search_index.js
Labels: none

Docs: Expand paragraph for configuration
  docs-additonal/deployment.md
Labels: none

Deploying to gh-pages from @ cobbler/cobbler-web@0d5b38bcf62dbe140d7b3ff94b292b092c30444e 🚀
  additional-documentation/deployment.html
  js/search/search_index.js
Labels: none

Chore: Initial state before upgrade
  package-lock.json
Labels: dependencies

Chore: Upgrade angular core & angular cli to v18
  angular.json
  package-lock.json
  package.json
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-frontend/src/app/app-events/app-events.component.spec.ts
  projects/cobbler-frontend/src/app/app.component.spec.ts
  projects/cobbler-frontend/src/app/login/login.component.spec.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.spec.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.spec.ts
  projects/cobbler-frontend/src/app/services/app-config.service.spec.ts
  projects/cobbler-frontend/src/app/services/auth-guard.service.spec.ts
  projects/cobbler-frontend/src/app/services/item-settings.service.spec.ts
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.spec.ts
  projects/cobbler-frontend/src/main.ts
  projects/typescript-xmlrpc/src/lib/typescript-xmlrpc.service.spec.ts
  tsconfig.json
Labels: API-Client, Frontend, TS-XMLRPC, dependencies

Chore: Upgrade Angular CDK & Material to v18
  package-lock.json
  package.json
Labels: dependencies

Chore: Upgrade Angular CDK & Material to v19
  package-lock.json
  package.json
Labels: dependencies

Chore: Upgrade Angular core & CLI to v20
  angular.json
  package-lock.json
  package.json
  projects/cobbler-frontend/src/app/actions/check-sys/check-sys.component.html
  projects/cobbler-frontend/src/app/actions/sync/sync.component.ts
  projects/cobbler-frontend/src/app/app-events/app-events.component.html
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
  projects/cobbler-frontend/src/app/signatures/signatures.component.html
  projects/cobbler-frontend/src/app/signatures/signatures.component.ts
  tsconfig.json
Labels: Frontend, dependencies

.github/labeler.yml:

API-Client:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-api/*
          - projects/cobbler-api/**/*

Frontend:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-frontend/*
          - projects/cobbler-frontend/**/*

TS-XMLRPC:
  - changed-files:
      - any-glob-to-any-file:
          - projects/typescript-xmlrpc/*
          - projects/typescript-xmlrpc/**/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs-additional/*
          - docs-additional/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: "*.spec.ts"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
