Repository cobbler/cobbler-web, changes with the labels that .github/labeler.yml gives for each.
All labels: API-Client, Frontend, TS-XMLRPC, documentation, tests, dependencies

fix(system): persist the Comment field across reloads
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
Labels: Frontend

fix(image): delete images via remove_image, not remove_distro
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.ts
Labels: Frontend

test(items): add data-testid hooks for e2e create/edit interactions
  projects/cobbler-frontend/src/app/items/distro/create/distro-create.component.html
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.html
  projects/cobbler-frontend/src/app/items/file/create/file-create.component.html
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.html
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.html
  projects/cobbler-frontend/src/app/items/image/create/image-create.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.html
  projects/cobbler-frontend/src/app/items/management-class/create/management-class-create.component.html
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.html
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.html
  projects/cobbler-frontend/src/app/items/menu/create/menu-create.component.html
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.html
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.html
  projects/cobbler-frontend/src/app/items/network-interface/create/network-interface-create.component.html
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.html
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.html
  projects/cobbler-frontend/src/app/items/package/create/package-create.component.html
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.html
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.html
  projects/cobbler-frontend/src/app/items/profile/create/profile-create.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.html
  projects/cobbler-frontend/src/app/items/repository/create/repository-create.component.html
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.html
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.html
  projects/cobbler-frontend/src/app/items/snippet/create/snippet-create.component.html
  projects/cobbler-frontend/src/app/items/snippet/edit/snippet-edit.component.html
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.html
  projects/cobbler-frontend/src/app/items/system/create/system-create.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/template/create/template-create.component.html
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.html
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.html
Labels: Frontend

chore(release): 1.1.0
  package-lock.json
  package.json
Labels: dependencies

Notes added by 'git notes add'
  120cf0e994f75b938ac02b6cec757c374a1cd860
Labels: none

Deploying to gh-pages from @ cobbler/cobbler-web@120cf0e994f75b938ac02b6cec757c374a1cd860 🚀
  js/search/search_index.js
  properties.html
Labels: none

feat(cobbler-api)!: full Cobbler 4.0.0 XML-RPC compatibility
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-api/src/lib/custom-types/enums.ts
  projects/cobbler-api/src/lib/custom-types/items.ts
  projects/cobbler-api/src/lib/custom-types/misc.ts
  projects/cobbler-api/src/lib/custom-types/options.ts
  projects/cobbler-api/src/lib/custom-types/settings.ts
  projects/cobbler-api/src/lib/custom-types/types.ts
Labels: API-Client

fix(network-interface): guard creation until system UID resolves
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.html
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.ts
Labels: Frontend

feat(item-reference): show resolved name + link for uid-reference fields
  projects/cobbler-frontend/src/app/common/item-reference/item-reference.component.html
  projects/cobbler-frontend/src/app/common/item-reference/item-reference.component.scss
  projects/cobbler-frontend/src/app/common/item-reference/item-reference.component.spec.ts
  projects/cobbler-frontend/src/app/common/item-reference/item-reference.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.html
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.scss
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
  projects/cobbler-frontend/src/app/utils.ts
Labels: Frontend

feat(multi-select-strict): rewrite as a linked chip-grid + autocomplete
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.html
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.scss
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.spec.ts
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.ts
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.html
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.html
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.html
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
Labels: Frontend

feat(group-overview): resolve member uids to linked names
  projects/cobbler-frontend/src/app/items/distro-group/overview/distro-group-overview.component.html
  projects/cobbler-frontend/src/app/items/distro-group/overview/distro-group-overview.component.scss
  projects/cobbler-frontend/src/app/items/distro-group/overview/distro-group-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/distro-group/overview/distro-group-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile-group/overview/profile-group-overview.component.html
  projects/cobbler-frontend/src/app/items/profile-group/overview/profile-group-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile-group/overview/profile-group-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile-group/overview/profile-group-overview.component.ts
  projects/cobbler-frontend/src/app/items/system-group/overview/system-group-overview.component.html
  projects/cobbler-frontend/src/app/items/system-group/overview/system-group-overview.component.scss
  projects/cobbler-frontend/src/app/items/system-group/overview/system-group-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/system-group/overview/system-group-overview.component.ts
Labels: Frontend

feat(option-group): group ItemOption fields under a card heading
  projects/cobbler-frontend/src/app/common/option-group/option-group.component.html
  projects/cobbler-frontend/src/app/common/option-group/option-group.component.scss
  projects/cobbler-frontend/src/app/common/option-group/option-group.component.spec.ts
  projects/cobbler-frontend/src/app/common/option-group/option-group.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.html
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.html
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.html
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.ts
  projects/cobbler-frontend/src/app/utils.ts
Labels: Frontend

test(cobbler-api): add fault-path coverage for every RPC method
  .gitignore
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
Labels: API-Client

feat(cobbler-api)!: require an object id for get_item/get_<type>
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
Labels: API-Client

feat(cobbler-frontend)!: resolve item uid before loading by name
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.ts
Labels: Frontend

ci(e2e): pull tagged Cobbler images instead of checking out the backend
  .github/workflows/testing.yml
  e2e/compose.yml
Labels: none

fix(e2e): align direct XML-RPC test seeding with the uid-only contract
  e2e/fixtures/ancestors.ts
  e2e/fixtures/xmlrpc-client.ts
  e2e/item-configs/profile.config.ts
  e2e/item-configs/system.config.ts
  e2e/item-configs/types.ts
  e2e/specs/items/autoinstall-preview.spec.ts
  e2e/specs/items/item-crud.spec.ts
  e2e/specs/items/system-network-interface.spec.ts
Labels: none

chore(e2e): remove dead ManagementClass/Package/File test configs
  e2e/global-teardown.ts
  e2e/item-configs/file.config.ts
  e2e/item-configs/index.ts
  e2e/item-configs/management-class.config.ts
  e2e/item-configs/package.config.ts
  e2e/item-configs/types.ts
  e2e/page-objects/item-crud.page.ts
Labels: none

fix(e2e): fix flaky CI failures in interface/template specs
  e2e/fixtures/xmlrpc-client.ts
  e2e/specs/items/system-network-interface.spec.ts
  e2e/specs/items/template-and-snippet.spec.ts
Labels: none

fix(e2e): avoid CodeQL insecure-randomness flag in test naming
  e2e/fixtures/naming.ts
Labels: none

fix(docker): allow unprivileged webroot writes for mounted config
  .github/scripts/verify-image.sh
  .github/workflows/container-build-push.yml
  Dockerfile
Labels: none

feat(deployment): support reverse-proxy subpath hosting
  Dockerfile
  docker/10-cobbler-web-rewrite-base-href.sh
  docker/default.conf
  docker/default.conf.template
  docs-additonal/deployment.md
  projects/cobbler-frontend/src/app/services/app-config.service.spec.ts
  projects/cobbler-frontend/src/app/services/app-config.service.ts
  projects/cobbler-frontend/src/app/user/preferences/preferences.component.spec.ts
  projects/cobbler-frontend/src/app/user/preferences/preferences.component.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@85333d5cd0ab9070dc289759d5ba9448b4e40d9c 🚀
  additional-documentation/deployment.html
  components/PreferencesComponent.html
  coverage.html
  injectables/AppConfigService.html
  interfaces/AppConfig.html
  interfaces/LocaleOption.html
  js/search/search_index.js
  llms.txt
Labels: none

fix: compiler error double slash for CSS comment
  projects/cobbler-frontend/src/app/app-events/app-events.component.css
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.css
Labels: Frontend

feat(login): show server-reachability indicator before login
  projects/cobbler-frontend/src/app/login/login.component.css
  projects/cobbler-frontend/src/app/login/login.component.html
  projects/cobbler-frontend/src/app/login/login.component.spec.ts
  projects/cobbler-frontend/src/app/login/login.component.ts
  projects/cobbler-frontend/src/locale/messages.xlf
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@08ea0d28906a4026e732370fd402b1ff7b682ad2 🚀
  components/AppEventsComponent.html
  components/LogInFormComponent.html
  components/SettingsViewComponent.html
  coverage.html
  js/search/search_index.js
  llms.txt
  miscellaneous/typealiases.html
  miscellaneous/variables.html
Labels: none

feat(sso): add per-server SSO configuration and SsoService
  projects/cobbler-frontend/src/app/services/app-config.service.ts
  projects/cobbler-frontend/src/app/services/sso.service.spec.ts
  projects/cobbler-frontend/src/app/services/sso.service.ts
Labels: Frontend

feat(login): wire Kerberos SSO into the login page
  projects/cobbler-frontend/src/app/login/login.component.css
  projects/cobbler-frontend/src/app/login/login.component.html
  projects/cobbler-frontend/src/app/login/login.component.spec.ts
  projects/cobbler-frontend/src/app/login/login.component.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
  projects/cobbler-frontend/src/app/services/user.service.ts
Labels: Frontend

docs(sso): document per-server Kerberos SSO deployment
  docs-additonal/deployment.md
  projects/cobbler-frontend/src/locale/messages.xlf
  projects/cobbler-frontend/src/proxy.conf.json
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@342a78a0ff6d146512e447458ff7fe3e83d6f91a 🚀
  additional-documentation/deployment.html
  components/LogInFormComponent.html
  components/NavbarComponent.html
  coverage.html
  injectables/AppConfigService.html
  injectables/SsoService.html
  injectables/UserService.html
  interfaces/CobblerServerConfig.html
  interfaces/SsoLoginResponse.html
  js/menu-wc.js
  js/search/search_index.js
  llms.txt
  miscellaneous/functions.html
  miscellaneous/typealiases.html
  miscellaneous/variables.html
  overview.html
Labels: none

feat(cobbler-api)!: full Cobbler 4.0.0 XML-RPC compatibility
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-api/src/lib/custom-types/enums.ts
  projects/cobbler-api/src/lib/custom-types/items.ts
  projects/cobbler-api/src/lib/custom-types/misc.ts
  projects/cobbler-api/src/lib/custom-types/options.ts
  projects/cobbler-api/src/lib/custom-types/settings.ts
  projects/cobbler-api/src/lib/custom-types/types.ts
Labels: API-Client

feat(item-reference): show resolved name + link for uid-reference fields
  projects/cobbler-frontend/src/app/common/item-reference/item-reference.component.html
  projects/cobbler-frontend/src/app/common/item-reference/item-reference.component.scss
  projects/cobbler-frontend/src/app/common/item-reference/item-reference.component.spec.ts
  projects/cobbler-frontend/src/app/common/item-reference/item-reference.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.html
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.scss
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
  projects/cobbler-frontend/src/app/utils.ts
Labels: Frontend

feat(multi-select-strict): rewrite as a linked chip-grid + autocomplete
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.html
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.scss
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.spec.ts
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.ts
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.html
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.html
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.html
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
Labels: Frontend

feat(group-overview): resolve member uids to linked names
  projects/cobbler-frontend/src/app/items/distro-group/overview/distro-group-overview.component.html
  projects/cobbler-frontend/src/app/items/distro-group/overview/distro-group-overview.component.scss
  projects/cobbler-frontend/src/app/items/distro-group/overview/distro-group-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/distro-group/overview/distro-group-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile-group/overview/profile-group-overview.component.html
  projects/cobbler-frontend/src/app/items/profile-group/overview/profile-group-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile-group/overview/profile-group-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile-group/overview/profile-group-overview.component.ts
  projects/cobbler-frontend/src/app/items/system-group/overview/system-group-overview.component.html
  projects/cobbler-frontend/src/app/items/system-group/overview/system-group-overview.component.scss
  projects/cobbler-frontend/src/app/items/system-group/overview/system-group-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/system-group/overview/system-group-overview.component.ts
Labels: Frontend

feat(option-group): group ItemOption fields under a card heading
  projects/cobbler-frontend/src/app/common/option-group/option-group.component.html
  projects/cobbler-frontend/src/app/common/option-group/option-group.component.scss
  projects/cobbler-frontend/src/app/common/option-group/option-group.component.spec.ts
  projects/cobbler-frontend/src/app/common/option-group/option-group.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.html
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.html
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.html
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.ts
  projects/cobbler-frontend/src/app/utils.ts
Labels: Frontend

test(cobbler-api): add fault-path coverage for every RPC method
  .gitignore
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
Labels: API-Client

feat(cobbler-api)!: require an object id for get_item/get_<type>
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
Labels: API-Client

feat(cobbler-frontend)!: resolve item uid before loading by name
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.ts
Labels: Frontend

ci(e2e): pull tagged Cobbler images instead of checking out the backend
  .github/workflows/testing.yml
  e2e/compose.yml
  e2e/fixtures/ancestors.ts
  e2e/fixtures/naming.ts
  e2e/fixtures/xmlrpc-client.ts
  e2e/global-teardown.ts
  e2e/item-configs/file.config.ts
  e2e/item-configs/index.ts
  e2e/item-configs/management-class.config.ts
  e2e/item-configs/package.config.ts
  e2e/item-configs/profile.config.ts
  e2e/item-configs/system.config.ts
  e2e/item-configs/types.ts
  e2e/page-objects/item-crud.page.ts
  e2e/specs/items/autoinstall-preview.spec.ts
  e2e/specs/items/item-crud.spec.ts
  e2e/specs/items/system-network-interface.spec.ts
  e2e/specs/items/template-and-snippet.spec.ts
Labels: none

fix(cobbler-frontend)!: resolve item uid before background calls
  e2e/specs/actions/actions.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/custom-types/misc.ts
  projects/cobbler-frontend/src/app/actions/build-iso/build-iso.component.html
  projects/cobbler-frontend/src/app/actions/build-iso/build-iso.component.ts
  projects/cobbler-frontend/src/app/actions/repo-sync/repo-sync.component.html
  projects/cobbler-frontend/src/app/actions/repo-sync/repo-sync.component.ts
  projects/cobbler-frontend/src/app/actions/sync/sync.component.html
  projects/cobbler-frontend/src/app/actions/sync/sync.component.ts
Labels: API-Client, Frontend

.github/labeler.yml:

API-Client:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-api/*
          - projects/cobbler-api/**/*

Frontend:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-frontend/*
          - projects/cobbler-frontend/**/*

TS-XMLRPC:
  - changed-files:
      - any-glob-to-any-file:
          - projects/typescript-xmlrpc/*
          - projects/typescript-xmlrpc/**/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs-additional/*
          - docs-additional/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: "*.spec.ts"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
