Repository cobbler/cobbler-web, changes with the labels that .github/labeler.yml gives for each.
All labels: API-Client, Frontend, TS-XMLRPC, documentation, tests, dependencies

Fix (config): Replace concat() with forkjoin() & add subscription to track config file
  projects/cobbler-frontend/src/app/login/login.component.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.html
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
  projects/cobbler-frontend/src/app/services/app-config.service.ts
Labels: Frontend

Chore: Add dialog box when logging out
  projects/cobbler-frontend/src/app/common/dialog-box-confirm-logout/dialog-box-confirm-logout.component.html
  projects/cobbler-frontend/src/app/common/dialog-box-confirm-logout/dialog-box-confirm-logout.component.scss
  projects/cobbler-frontend/src/app/common/dialog-box-confirm-logout/dialog-box-confirm-logout.component.spec.ts
  projects/cobbler-frontend/src/app/common/dialog-box-confirm-logout/dialog-box-confirm-logout.component.ts
  projects/cobbler-frontend/src/app/login/login.component.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.html
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
Labels: Frontend

CI: Switch to commit SHA's
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/container-build-push.yml
  .github/workflows/coverage-upload.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/testing.yml
Labels: none

Refactor (Items): Enhance boot loaders input
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-frontend/src/app/common/dialog-box-select/dialog-box-select.component.html
  projects/cobbler-frontend/src/app/common/dialog-box-select/dialog-box-select.component.scss
  projects/cobbler-frontend/src/app/common/dialog-box-select/dialog-box-select.component.spec.ts
  projects/cobbler-frontend/src/app/common/dialog-box-select/dialog-box-select.component.ts
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.html
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.scss
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.spec.ts
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.ts
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.html
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/utils.ts
  projects/cobbler-frontend/src/assets/configs/app-config.json
Labels: API-Client, Frontend

Fix (Items): Add management classes select and correct checkbox removal
  projects/cobbler-frontend/src/app/common/dialog-box-select/dialog-box-select.component.html
  projects/cobbler-frontend/src/app/common/dialog-box-select/dialog-box-select.component.scss
  projects/cobbler-frontend/src/app/common/dialog-box-select/dialog-box-select.component.spec.ts
  projects/cobbler-frontend/src/app/common/dialog-box-select/dialog-box-select.component.ts
  projects/cobbler-frontend/src/app/common/dialog-key-value-input/dialog-key-value-input.component.html
  projects/cobbler-frontend/src/app/common/dialog-key-value-input/dialog-key-value-input.component.scss
  projects/cobbler-frontend/src/app/common/dialog-text-input/dialog-text-input.component.html
  projects/cobbler-frontend/src/app/common/dialog-text-input/dialog-text-input.component.scss
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.html
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/utils.ts
Labels: Frontend

Fix (Items): Correct empty option & key value input in editor
  projects/cobbler-frontend/src/app/common/key-value-editor/key-value-editor.component.ts
  projects/cobbler-frontend/src/assets/configs/app-config.json
Labels: Frontend

CI: Update CodeQL to 4.37.0
  .github/workflows/codeql-analysis.yml
Labels: none

Refactor (Items): Enhance OS breed & version inputs
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-frontend/src/app/common/text-autocomplete/text-autocomplete.component.html
  projects/cobbler-frontend/src/app/common/text-autocomplete/text-autocomplete.component.scss
  projects/cobbler-frontend/src/app/common/text-autocomplete/text-autocomplete.component.spec.ts
  projects/cobbler-frontend/src/app/common/text-autocomplete/text-autocomplete.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/utils.ts
  projects/cobbler-frontend/src/styles.css
Labels: API-Client, Frontend

Add help button to the edit components
  projects/cobbler-frontend/src/app/common/help-button/help-button.component.html
  projects/cobbler-frontend/src/app/common/help-button/help-button.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.html
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.html
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.html
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/metadata.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.html
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.html
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.html
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/utils.ts
  projects/cobbler-frontend/src/locale/messages.xlf
  projects/cobbler-frontend/src/styles.scss
Labels: Frontend

Localise the Breadcrumb
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/locale/messages.xlf
Labels: Frontend

Fix (Events): Remove duplicates from select options when filtering data
  projects/cobbler-frontend/src/app/app-events/app-events.component.html
  projects/cobbler-frontend/src/app/app-events/app-events.component.ts
  projects/cobbler-frontend/src/locale/messages.xlf
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@fcb5bca4664abf2791248b105cad3707bc1e1ee0 🚀
  components/AppEventsComponent.html
  coverage.html
Labels: none

Feat (UI): Implement dark mode
  package-lock.json
  package.json
  projects/cobbler-frontend/src/app/actions/replicate/replicate.component.html
  projects/cobbler-frontend/src/app/actions/status/status.component.scss
  projects/cobbler-frontend/src/app/app-events/app-events.component.css
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.scss
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.scss
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.scss
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.scss
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.scss
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.scss
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.scss
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.scss
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.scss
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.scss
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.scss
  projects/cobbler-frontend/src/app/navbar/navbar.component.css
  projects/cobbler-frontend/src/app/navbar/navbar.component.html
  projects/cobbler-frontend/src/app/services/user.service.ts
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.css
  projects/cobbler-frontend/src/app/signatures/signatures.component.html
  projects/cobbler-frontend/src/app/signatures/signatures.component.scss
  projects/cobbler-frontend/src/app/user/preferences/preferences.component.html
  projects/cobbler-frontend/src/app/user/preferences/preferences.component.scss
  projects/cobbler-frontend/src/app/user/preferences/preferences.component.ts
  projects/cobbler-frontend/src/styles.scss
Labels: Frontend, dependencies

Chore: Final UI changes for dark mode
  angular.json
  projects/cobbler-frontend/src/app/app-events/app-events.component.css
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.scss
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.scss
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.scss
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.scss
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.scss
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.scss
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.scss
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.scss
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.scss
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.scss
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.scss
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.css
  projects/cobbler-frontend/src/app/user/preferences/preferences.component.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@9481391e4b328f151499ee31395dc90640a25bf1 🚀
  components/AppEventsComponent.html
  components/DistrosOverviewComponent.html
  components/NavbarComponent.html
  components/PreferencesComponent.html
  components/ReplicateComponent.html
  components/SettingsViewComponent.html
  components/SignaturesComponent.html
  coverage.html
  dependencies.html
  injectables/UserService.html
  interfaces/LocaleOption.html
  miscellaneous/variables.html
Labels: none

chore: add AI-Agent hint files
  AGENTS.md
  CLAUDE.md
Labels: none

ci: add commitlint
  .github/dependabot.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  commitlint.config.mjs
Labels: none

ci: automate the release process
  .github/workflows/release.yml
  .releaserc.json
  CONTRIBUTING.md
  docs-additonal/releasing.md
  docs-additonal/summary.json
  package-lock.json
  package.json
Labels: dependencies

Deploying to gh-pages from @ cobbler/cobbler-web@c618e84675640a9c8ea416e824402f2e27b35de5 🚀
  additional-documentation/releasing.html
  contributing.html
  js/menu-wc.js
  js/menu-wc_es5.js
Labels: none

feat(signatures): add filtering
  projects/cobbler-frontend/src/app/app-events/app-events.component.css
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.scss
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.scss
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.scss
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.scss
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.scss
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.scss
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.scss
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.scss
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.scss
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.scss
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.scss
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.scss
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.css
  projects/cobbler-frontend/src/app/signatures/signatures.component.html
  projects/cobbler-frontend/src/app/signatures/signatures.component.scss
  projects/cobbler-frontend/src/app/signatures/signatures.component.ts
Labels: Frontend

chore(release): 1.0.0
  package-lock.json
  package.json
Labels: dependencies

Notes added by 'git notes add'
  5945f4723e8d6f8b2fa180672a37a717da1262f7
Labels: none

Deploying to gh-pages from @ cobbler/cobbler-web@834082f85db05181fa2698fe506cbb4836f7fb40 🚀
  components/AppEventsComponent.html
  components/DistrosOverviewComponent.html
  components/SettingsViewComponent.html
  components/SignaturesComponent.html
  coverage.html
  interfaces/OsBreedFlatNode.html
  interfaces/OsNode.html
  interfaces/TableRow.html
Labels: none

Deploying to gh-pages from @ cobbler/cobbler-web@5945f4723e8d6f8b2fa180672a37a717da1262f7 🚀
  properties.html
Labels: none

feat: Support Cobbler 4.x.x
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-api/src/lib/custom-types/items.ts
  projects/cobbler-api/src/lib/custom-types/misc.ts
  projects/cobbler-api/src/lib/custom-types/settings.ts
  projects/cobbler-frontend/src/app/actions/replicate/replicate.component.html
  projects/cobbler-frontend/src/app/actions/replicate/replicate.component.ts
  projects/cobbler-frontend/src/app/app-manage/app-manage.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/create/file-create.component.scss
  projects/cobbler-frontend/src/app/items/file/create/file-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.scss
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/management-class/create/management-class-create.component.scss
  projects/cobbler-frontend/src/app/items/management-class/create/management-class-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.scss
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/package/create/package-create.component.scss
  projects/cobbler-frontend/src/app/items/package/create/package-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.scss
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/snippet/create/snippet-create.component.scss
  projects/cobbler-frontend/src/app/items/snippet/create/snippet-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/snippet/edit/snippet-edit.component.scss
  projects/cobbler-frontend/src/app/items/snippet/edit/snippet-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
Labels: API-Client, Frontend

chore(ci): remove dependabot update-types
  .github/dependabot.yml
Labels: none

chore(ci): prevent automatic release on push
  .github/workflows/release.yml
Labels: none

feat!: support Cobbler 4.x.x
  docs-additonal/development-setup.md
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-api/src/lib/custom-types/items.ts
  projects/cobbler-api/src/lib/custom-types/misc.ts
  projects/cobbler-api/src/lib/custom-types/settings.ts
  projects/cobbler-frontend/src/app/actions/replicate/replicate.component.html
  projects/cobbler-frontend/src/app/actions/replicate/replicate.component.ts
  projects/cobbler-frontend/src/app/app-manage/app-manage.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/create/file-create.component.scss
  projects/cobbler-frontend/src/app/items/file/create/file-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.scss
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/management-class/create/management-class-create.component.scss
  projects/cobbler-frontend/src/app/items/management-class/create/management-class-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.scss
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/package/create/package-create.component.scss
  projects/cobbler-frontend/src/app/items/package/create/package-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.scss
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/snippet/create/snippet-create.component.scss
  projects/cobbler-frontend/src/app/items/snippet/create/snippet-create.component.spec.ts
  projects/cobbler-frontend/src/app/items/snippet/edit/snippet-edit.component.scss
  projects/cobbler-frontend/src/app/items/snippet/edit/snippet-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
Labels: API-Client, Frontend

build(deps): update Angular dependencies to latest 21.x release
  package-lock.json
  package.json
Labels: dependencies

chore(deps): widen dependabot angular group
  .github/dependabot.yml
Labels: none

Deploying to gh-pages from @ cobbler/cobbler-web@7ec0ba02bfd492d37306f280ffe78333d9caad1f 🚀
  dependencies.html
  js/search/search_index.js
Labels: none

fix(routing): fix wrong /manage prefix and missing param inheritance
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.ts
  projects/cobbler-frontend/src/app/items/network-interface/overview/network-interface-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/router-params-inheritance.spec.ts
  projects/cobbler-frontend/src/main.ts
Labels: Frontend

fix(app): register the cobbler-logo icon before it's first used
  projects/cobbler-frontend/src/app/app.component.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.spec.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.spec.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
  projects/cobbler-frontend/src/assets/images/cobbler-logo.svg
Labels: Frontend

chore: add AI tool directories and .mcp.json
  .gitignore
Labels: none

feat(key-value-editor): inline the help button into the card header
  projects/cobbler-frontend/src/app/common/key-value-editor/key-value-editor.component.html
  projects/cobbler-frontend/src/app/common/key-value-editor/key-value-editor.component.scss
  projects/cobbler-frontend/src/app/common/key-value-editor/key-value-editor.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.html
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.html
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.html
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
Labels: Frontend

feat(text-autocomplete): inline the help button as a suffix icon
  projects/cobbler-frontend/src/app/common/text-autocomplete/text-autocomplete.component.html
  projects/cobbler-frontend/src/app/common/text-autocomplete/text-autocomplete.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/signatures/signatures.component.html
Labels: Frontend

feat(multi-select): inline the help button and fix card spacing
  projects/cobbler-frontend/src/app/common/key-value-editor/key-value-editor.component.scss
  projects/cobbler-frontend/src/app/common/multi-select-strict/multi-select-strict.component.scss
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.html
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.scss
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.html
  projects/cobbler-frontend/src/app/items/network-interface/edit/network-interface-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.html
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@8c115c3df89a9b09e3a8024c9e18db95b4180cbe 🚀
  components/AppComponent.html
  components/DistroEditComponent.html
  components/FileEditComponent.html
  components/ImageEditComponent.html
  components/KeyValueEditorComponent.html
  components/ManagementClassEditComponent.html
  components/MenuEditComponent.html
  components/MultiSelectComponent.html
  components/NavbarComponent.html
  components/NetworkInterfaceEditComponent.html
  components/NetworkInterfaceOverviewComponent.html
  components/PackageEditComponent.html
  components/ProfileEditComponent.html
  components/RepositoryEditComponent.html
  components/SignaturesComponent.html
  components/SystemEditComponent.html
  components/TextAutocompleteComponent.html
  coverage.html
  interfaces/NetworkInterfacePair.html
  js/search/search_index.js
Labels: none

fix(login): render the failed-auth error message
  projects/cobbler-frontend/src/app/login/login.component.ts
Labels: Frontend

fix(management-class): correct the "Is Definition" checkbox label
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
Labels: Frontend

.github/labeler.yml:

API-Client:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-api/*
          - projects/cobbler-api/**/*

Frontend:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-frontend/*
          - projects/cobbler-frontend/**/*

TS-XMLRPC:
  - changed-files:
      - any-glob-to-any-file:
          - projects/typescript-xmlrpc/*
          - projects/typescript-xmlrpc/**/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs-additional/*
          - docs-additional/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: "*.spec.ts"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
