Repository cobbler/cobbler-web, changes with the labels that .github/labeler.yml gives for each.
All labels: API-Client, Frontend, TS-XMLRPC, documentation, tests, dependencies

.github/labeler.yml:

API-Client:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-api/*
          - projects/cobbler-api/**/*

Frontend:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-frontend/*
          - projects/cobbler-frontend/**/*

TS-XMLRPC:
  - changed-files:
      - any-glob-to-any-file:
          - projects/typescript-xmlrpc/*
          - projects/typescript-xmlrpc/**/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs-additional/*
          - docs-additional/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: "*.spec.ts"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json

fix(cobbler-frontend)!: use item uid for as-rendered/bootloader/netboot
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-frontend/src/app/items/distro-group/edit/distro-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile-group/edit/profile-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/edit-profile/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system-group/edit/system-group-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
Labels: API-Client, Frontend

chore(e2e): pin backend Cobbler image to v4.0.0b6
  .github/workflows/testing.yml
  e2e/compose.yml
Labels: none

chore(release): 1.2.0
  package-lock.json
  package.json
Labels: dependencies

Notes added by 'git notes add'
  a0d61386775e52d3926a668f8c7c48b2051609b0
Labels: none

Deploying to gh-pages from @ cobbler/cobbler-web@a0d61386775e52d3926a668f8c7c48b2051609b0 🚀
  js/search/search_index.js
  llms.txt
  properties.html
Labels: none
