Repository cobbler/cobbler-web, changes with the labels that .github/labeler.yml gives for each.
All labels: API-Client, Frontend, TS-XMLRPC, documentation, tests, dependencies

Items: Implement rename operation for overview
  projects/cobbler-frontend/src/app/common/dialog-item-rename/dialog-item-rename.component.html
  projects/cobbler-frontend/src/app/common/dialog-item-rename/dialog-item-rename.component.scss
  projects/cobbler-frontend/src/app/common/dialog-item-rename/dialog-item-rename.component.spec.ts
  projects/cobbler-frontend/src/app/common/dialog-item-rename/dialog-item-rename.component.ts
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.html
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.ts
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.html
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.ts
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.html
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.html
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.ts
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.html
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.html
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.html
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
Labels: Frontend

Utils: Introduce static class with toHTML method
  projects/cobbler-frontend/src/app/actions/build-iso/build-iso.component.ts
  projects/cobbler-frontend/src/app/actions/check-sys/check-sys.component.ts
  projects/cobbler-frontend/src/app/actions/hardlink/hardlink.component.ts
  projects/cobbler-frontend/src/app/actions/import-dvd/import-dvd.component.ts
  projects/cobbler-frontend/src/app/actions/mkloaders/mkloaders.component.ts
  projects/cobbler-frontend/src/app/actions/replicate/replicate.component.ts
  projects/cobbler-frontend/src/app/actions/repo-sync/repo-sync.component.ts
  projects/cobbler-frontend/src/app/actions/sync/sync.component.ts
  projects/cobbler-frontend/src/app/actions/validate-autoinstalls/validate-autoinstalls.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/overview/file-overview.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/overview/image-overview.component.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
  projects/cobbler-frontend/src/app/items/management-class/overview/management-class-overview.component.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.ts
  projects/cobbler-frontend/src/app/items/package/overview/package-overview.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/overview/profile-overview.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/overview/repository-overview.component.ts
  projects/cobbler-frontend/src/app/items/snippet/edit/snippet-edit.component.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.ts
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.ts
  projects/cobbler-frontend/src/app/signatures/signatures.component.ts
  projects/cobbler-frontend/src/app/utils.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@ff84e5f5eaab0d9cccdeedc0283af580b9fe6842 🚀
  classes/Utils.html
  components/BuildISOComponent.html
  components/CheckSysComponent.html
  components/DistroEditComponent.html
  components/DistrosOverviewComponent.html
  components/FileEditComponent.html
  components/FileOverviewComponent.html
  components/HardlinkComponent.html
  components/ImageEditComponent.html
  components/ImageOverviewComponent.html
  components/ImportDVDComponent.html
  components/ManagementClassEditComponent.html
  components/ManagementClassOverviewComponent.html
  components/MkloadersComponent.html
  components/PackageEditComponent.html
  components/PackageOverviewComponent.html
  components/ProfileEditComponent.html
  components/ProfileOverviewComponent.html
  components/ReplicateComponent.html
  components/RepoSyncComponent.html
  components/RepositoryEditComponent.html
  components/RepositoryOverviewComponent.html
  components/SignaturesComponent.html
  components/SnippetEditComponent.html
  components/SnippetOverviewComponent.html
  components/SyncComponent.html
  components/SystemEditComponent.html
  components/SystemOverviewComponent.html
  components/TemplateEditComponent.html
  components/TemplateOverviewComponent.html
  components/ValidateAutoinstallsComponent.html
  coverage.html
  interfaces/OsBreedFlatNode.html
  interfaces/OsNode.html
  interfaces/TableRow.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  overview.html
Labels: none

Update to latest Angular v17 version
  package-lock.json
  package.json
Labels: dependencies

Deps: Remove unrequired xmlrpc package
  package-lock.json
  package.json
Labels: dependencies

Deploying to gh-pages from @ cobbler/cobbler-web@d66e3e85e439ecc9b8b72f9cd28b4caed434fc7c 🚀
  dependencies.html
  js/search/search_index.js
Labels: none

Fix: Close sidenav after clicking a link
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.html
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@bf3ae0baad24648db9dfcd6adbf0445b4cf71b3a 🚀
  components/ManageMenuComponent.html
  js/search/search_index.js
Labels: none

Fix: Item Detail Views not showing
  projects/cobbler-frontend/src/app/app-routing.module.ts
Labels: Frontend

Items: Implement copy button inside the details view
  projects/cobbler-frontend/src/app/common/dialog-item-copy/dialog-item-copy.component.html
  projects/cobbler-frontend/src/app/common/dialog-item-copy/dialog-item-copy.component.scss
  projects/cobbler-frontend/src/app/common/dialog-item-copy/dialog-item-copy.component.spec.ts
  projects/cobbler-frontend/src/app/common/dialog-item-copy/dialog-item-copy.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.html
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.html
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.html
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.html
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
Labels: Frontend

XMLRPC-Client: Remove the need for custom list and map type
  projects/typescript-xmlrpc/src/lib/deserializer.spec.ts
  projects/typescript-xmlrpc/src/lib/serializer.spec.ts
  projects/typescript-xmlrpc/src/lib/serializer.ts
  projects/typescript-xmlrpc/src/lib/typescript-xmlrpc.service.spec.ts
  projects/typescript-xmlrpc/src/lib/typescript-xmlrpc.service.ts
  projects/typescript-xmlrpc/src/lib/utils.ts
  projects/typescript-xmlrpc/src/lib/xmlrpc-types.ts
Labels: TS-XMLRPC

Deploying to gh-pages from @ cobbler/cobbler-web@d1eab09c095f78dcfb665c7ca9711da9cfcef8a0 🚀
  classes/Utils-1.html
  coverage.html
  interfaces/Member.html
  interfaces/MethodFault.html
  interfaces/MethodResponse.html
  interfaces/Param.html
  interfaces/XmlRpcStruct.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  miscellaneous/functions.html
  miscellaneous/typealiases.html
  overview.html
Labels: none

XMLRPC-Client: Allow deserialization to Map and Array
  projects/typescript-xmlrpc/src/lib/deserializer.ts
Labels: TS-XMLRPC

Lint: Add eslint-plugin
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
Labels: dependencies

Cobbler-API: Adjust for native TS Map and Array
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-api/src/lib/custom-types/items.ts
  projects/cobbler-api/tsconfig.lib.json
Labels: API-Client

Cobbler-Frontend: Add edit functionality
  projects/cobbler-frontend/src/app/actions/mkloaders/mkloaders.component.ts
  projects/cobbler-frontend/src/app/actions/replicate/replicate.component.ts
  projects/cobbler-frontend/src/app/common/dialog-box-confirm-cancel-edit/dialog-box-confirm-cancel-edit.component.html
  projects/cobbler-frontend/src/app/common/dialog-box-confirm-cancel-edit/dialog-box-confirm-cancel-edit.component.scss
  projects/cobbler-frontend/src/app/common/dialog-box-confirm-cancel-edit/dialog-box-confirm-cancel-edit.component.spec.ts
  projects/cobbler-frontend/src/app/common/dialog-box-confirm-cancel-edit/dialog-box-confirm-cancel-edit.component.ts
  projects/cobbler-frontend/src/app/common/dialog-item-copy/dialog-item-copy.component.spec.ts
  projects/cobbler-frontend/src/app/common/dialog-item-copy/dialog-item-copy.component.ts
  projects/cobbler-frontend/src/app/common/dialog-item-rename/dialog-item-rename.component.ts
  projects/cobbler-frontend/src/app/common/dialog-key-value-input/dialog-key-value-input.component.html
  projects/cobbler-frontend/src/app/common/dialog-key-value-input/dialog-key-value-input.component.scss
  projects/cobbler-frontend/src/app/common/dialog-key-value-input/dialog-key-value-input.component.spec.ts
  projects/cobbler-frontend/src/app/common/dialog-key-value-input/dialog-key-value-input.component.ts
  projects/cobbler-frontend/src/app/common/key-value-editor/key-value-editor.component.html
  projects/cobbler-frontend/src/app/common/key-value-editor/key-value-editor.component.ts
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.html
  projects/cobbler-frontend/src/app/common/multi-select/multi-select.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/distro/overview/distros-overview.component.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.html
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.html
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.html
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.html
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/utils.spec.ts
  projects/cobbler-frontend/src/app/utils.ts
Labels: Frontend

Add App deployment configuration
  README.md
  package-lock.json
  package.json
  projects/cobbler-frontend/src/app/login/login.component.html
  projects/cobbler-frontend/src/app/login/login.component.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.html
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
  projects/cobbler-frontend/src/app/services/app-config.service.spec.ts
  projects/cobbler-frontend/src/app/services/app-config.service.ts
  projects/cobbler-frontend/src/assets/configs/app-config.json
  projects/cobbler-frontend/src/main.ts
Labels: Frontend, dependencies

Deploying to gh-pages from @ cobbler/cobbler-web@0a7f27b0873fe3ca9eaf43a73f0add5fa8c0ecd2 🚀
  components/LogInFormComponent.html
  components/NavbarComponent.html
  coverage.html
  dependencies.html
  index.html
  injectables/AppConfigService.html
  interfaces/AppConfig.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  miscellaneous/variables.html
  overview.html
Labels: none

Cobbler-Frontend: Implement CRUD for Templates and Snippets
  projects/cobbler-frontend/src/app/items/snippet/edit/snippet-edit.component.html
  projects/cobbler-frontend/src/app/items/snippet/edit/snippet-edit.component.ts
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.html
  projects/cobbler-frontend/src/app/items/snippet/overview/snippet-overview.component.ts
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.html
  projects/cobbler-frontend/src/app/items/template/edit/template-edit.component.ts
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.html
  projects/cobbler-frontend/src/app/items/template/overview/template-overview.component.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@af6ee946bdfee9bffaa923e8ceb5430a5803fd0e 🚀
  components/SnippetEditComponent.html
  components/SnippetOverviewComponent.html
  components/TemplateEditComponent.html
  components/TemplateOverviewComponent.html
  coverage.html
  js/search/search_index.js
Labels: none

Cobbler-Frontend: Implement viewer for rendered auto-installations
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/app/common/view-autoinstall/view-autoinstall.component.html
  projects/cobbler-frontend/src/app/common/view-autoinstall/view-autoinstall.component.scss
  projects/cobbler-frontend/src/app/common/view-autoinstall/view-autoinstall.component.spec.ts
  projects/cobbler-frontend/src/app/common/view-autoinstall/view-autoinstall.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
Labels: Frontend

Cobbler-Frontend: Add user preferences
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.html
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
  projects/cobbler-frontend/src/app/user/preferences/preferences.component.html
  projects/cobbler-frontend/src/app/user/preferences/preferences.component.scss
  projects/cobbler-frontend/src/app/user/preferences/preferences.component.spec.ts
  projects/cobbler-frontend/src/app/user/preferences/preferences.component.ts
Labels: Frontend

Cobbler-Frontend: Remove unused GetObjService
  projects/cobbler-frontend/src/app/appManage/app-manage.component.ts
  projects/cobbler-frontend/src/app/services/get-obj.service.spec.ts
  projects/cobbler-frontend/src/app/services/get-obj.service.ts
Labels: Frontend

Cobbler-Frontend: Implement landing page
  projects/cobbler-frontend/src/app/appManage/app-manage.component.css
  projects/cobbler-frontend/src/app/appManage/app-manage.component.html
  projects/cobbler-frontend/src/app/appManage/app-manage.component.scss
  projects/cobbler-frontend/src/app/appManage/app-manage.component.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@6923c9735135e7d733388c4408dc851d735d036a 🚀
  components/AppManageComponent.html
  coverage.html
  injectables/GetObjService.html
  interfaces/LandingPageStatsCard.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  overview.html
Labels: none

Cobbler-Frontend: Fix unauthorized auth-guard
  projects/cobbler-frontend/src/app/services/auth-guard.service.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@802a7a8ad958ccd6fbb40457b4a9cecf8da63398 🚀
  injectables/AuthGuardService.html
  js/search/search_index.js
Labels: none

Cobbler-Frontend: Groups actions under /actions route
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.html
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@de00cdadb3911642a1998fa4e6a45d7a1ee3fa48 🚀
  components/ManageMenuComponent.html
Labels: none

Cobbler-API: Fix and test the get_<item>_as_rendered methods
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
Labels: API-Client

Cobbler-Frontend: Add possibility to show rendered items
  projects/cobbler-frontend/src/app/common/dialog-box-item-rendered/dialog-box-item-rendered.component.html
  projects/cobbler-frontend/src/app/common/dialog-box-item-rendered/dialog-box-item-rendered.component.scss
  projects/cobbler-frontend/src/app/common/dialog-box-item-rendered/dialog-box-item-rendered.component.spec.ts
  projects/cobbler-frontend/src/app/common/dialog-box-item-rendered/dialog-box-item-rendered.component.ts
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.html
  projects/cobbler-frontend/src/app/items/distro/edit/distro-edit.component.ts
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.html
  projects/cobbler-frontend/src/app/items/file/edit/file-edit.component.ts
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.html
  projects/cobbler-frontend/src/app/items/image/edit/image-edit.component.ts
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.html
  projects/cobbler-frontend/src/app/items/management-class/edit/management-class-edit.component.ts
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.html
  projects/cobbler-frontend/src/app/items/package/edit/package-edit.component.ts
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.html
  projects/cobbler-frontend/src/app/items/profile/edit/profile-edit.component.ts
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.html
  projects/cobbler-frontend/src/app/items/repository/edit/repository-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
Labels: Frontend

Cobbler-API: Add Menu item type
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-api/src/lib/custom-types/items.ts
Labels: API-Client

Cobbler-Frontend: Add Menu item type
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/app/appManage/app-manage.component.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.html
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.scss
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.spec.ts
  projects/cobbler-frontend/src/app/items/menu/edit/menu-edit.component.ts
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.html
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.scss
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.spec.ts
  projects/cobbler-frontend/src/app/items/menu/overview/menu-overview.component.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.html
Labels: Frontend

README: Shorten and update buttons
  README.md
Labels: none

Docs: Add additional documentation for production deployments
  docs-additonal/deployment.md
  docs-additonal/summary.json
Labels: none

Deploying to gh-pages from @ cobbler/cobbler-web@b64e000329e1a954d5e565f0c7d803cc8c57c1dd 🚀
  additional-documentation/deployment.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
Labels: none

Cobbler-API: Verify that disable_netboot works as intended
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
Labels: API-Client

Cobbler-API: Allow settings to work with different versions of Cobbler
  projects/cobbler-api/src/lib/custom-types/settings.ts
Labels: API-Client

Cobbler-Frontend: Add button to disable network boot
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.html
  projects/cobbler-frontend/src/app/items/system/edit/system-edit.component.ts
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.html
  projects/cobbler-frontend/src/app/items/system/overview/system-overview.component.ts
Labels: Frontend

Deploying to gh-pages from @ cobbler/cobbler-web@ac273b017222f95a0594a1f284b8a9410387ceb0 🚀
  components/SystemEditComponent.html
  components/SystemOverviewComponent.html
  coverage.html
  images/coverage-badge-documentation.svg
  interfaces/V3_3_1.html
  interfaces/V3_3_2.html
  interfaces/V3_3_3.html
  interfaces/V3_4_0.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  miscellaneous/typealiases.html
  overview.html
Labels: none

.github/labeler.yml:

API-Client:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-api/*
          - projects/cobbler-api/**/*

Frontend:
  - changed-files:
      - any-glob-to-any-file:
          - projects/cobbler-frontend/*
          - projects/cobbler-frontend/**/*

TS-XMLRPC:
  - changed-files:
      - any-glob-to-any-file:
          - projects/typescript-xmlrpc/*
          - projects/typescript-xmlrpc/**/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs-additional/*
          - docs-additional/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: "*.spec.ts"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
