Repository cobbler/cobbler-web, pull requests merged in 2022-06, with the labels that each got.

#82 Cobbler-Frontend: Add material theme
  angular.json
  package-lock.json
  package.json
  projects/cobbler-frontend/src/app/app-events/app-events.component.css
  projects/cobbler-frontend/src/app/app-events/app-events.component.html
  projects/cobbler-frontend/src/app/app-files/app-files.component.css
  projects/cobbler-frontend/src/app/app-files/app-files.component.html
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/app/app-settings/app-settings.component.css
  projects/cobbler-frontend/src/app/app-settings/app-settings.component.html
  projects/cobbler-frontend/src/app/app-settings/app-settings.component.ts
  projects/cobbler-frontend/src/app/app-templates/app-templates.component.html
  projects/cobbler-frontend/src/app/app.component.css
  projects/cobbler-frontend/src/app/app.component.html
  projects/cobbler-frontend/src/app/app.component.ts
  projects/cobbler-frontend/src/app/app.module.ts
  projects/cobbler-frontend/src/app/appManage/app-manage.component.css
  projects/cobbler-frontend/src/app/build-iso/build-iso.component.html
  projects/cobbler-frontend/src/app/check-sys/check-sys.component.html
  projects/cobbler-frontend/src/app/distros/distros.component.css
  projects/cobbler-frontend/src/app/distros/distros.component.html
  projects/cobbler-frontend/src/app/distros/distros.component.ts
  projects/cobbler-frontend/src/app/images/images.component.css
  projects/cobbler-frontend/src/app/images/images.component.html
  projects/cobbler-frontend/src/app/import-dvd/import-dvd.component.html
  projects/cobbler-frontend/src/app/login/login.component.css
  projects/cobbler-frontend/src/app/login/login.component.html
  projects/cobbler-frontend/src/app/login/login.component.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.css
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.html
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.ts
  projects/cobbler-frontend/src/app/management-classes/management-classes.component.css
  projects/cobbler-frontend/src/app/management-classes/management-classes.component.html
  projects/cobbler-frontend/src/app/navbar/navbar.component.css
  projects/cobbler-frontend/src/app/navbar/navbar.component.html
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
  projects/cobbler-frontend/src/app/packages/packages.component.css
  projects/cobbler-frontend/src/app/packages/packages.component.html
  projects/cobbler-frontend/src/app/profiles/profiles.component.css
  projects/cobbler-frontend/src/app/profiles/profiles.component.html
  projects/cobbler-frontend/src/app/repo-sync/repo-sync.component.html
  projects/cobbler-frontend/src/app/repos/repos.component.css
  projects/cobbler-frontend/src/app/repos/repos.component.html
  projects/cobbler-frontend/src/app/services/item-settings.service.ts
  projects/cobbler-frontend/src/app/services/user.service.ts
  projects/cobbler-frontend/src/app/snippets/snippets.component.html
  projects/cobbler-frontend/src/app/sync/sync.component.html
  projects/cobbler-frontend/src/app/systems/systems.component.css
  projects/cobbler-frontend/src/app/systems/systems.component.html
  projects/cobbler-frontend/src/app/unauthorized/unauthorized.component.html
  projects/cobbler-frontend/src/styles.css
  projects/cobbler-frontend/src/styles.css.map
  projects/cobbler-frontend/src/styles.scss
Labels: dependencies, Frontend

#98 XMLRPC-API: Add struct and array identification
  projects/typescript-xmlrpc/src/lib/deserializer.spec.ts
  projects/typescript-xmlrpc/src/lib/deserializer.ts
  projects/typescript-xmlrpc/src/lib/typescript-xmlrpc.service.ts
Labels: TS-XMLRPC

#99 Cobbler-Frontend: Fix test imports
  projects/cobbler-frontend/src/app/items/files/files.component.spec.ts
  projects/cobbler-frontend/src/app/items/snippets/snippets.component.spec.ts
  projects/cobbler-frontend/src/app/items/templates/templates.component.spec.ts
Labels: Frontend

#101 Cobbler-Frontend: Fix errors about unknown elements
  projects/cobbler-frontend/src/app/actions/build-iso/build-iso.component.spec.ts
  projects/cobbler-frontend/src/app/actions/check-sys/check-sys.component.spec.ts
  projects/cobbler-frontend/src/app/actions/import-dvd/import-dvd.component.spec.ts
  projects/cobbler-frontend/src/app/actions/repo-sync/repo-sync.component.spec.ts
  projects/cobbler-frontend/src/app/actions/sync/sync.component.spec.ts
  projects/cobbler-frontend/src/app/app-events/app-events.component.spec.ts
  projects/cobbler-frontend/src/app/app-settings/app-settings.component.spec.ts
  projects/cobbler-frontend/src/app/app.component.spec.ts
  projects/cobbler-frontend/src/app/items/distros/distros.component.spec.ts
  projects/cobbler-frontend/src/app/items/files/files.component.spec.ts
  projects/cobbler-frontend/src/app/items/images/images.component.spec.ts
  projects/cobbler-frontend/src/app/items/management-classes/management-classes.component.spec.ts
  projects/cobbler-frontend/src/app/items/packages/packages.component.spec.ts
  projects/cobbler-frontend/src/app/items/profiles/profiles.component.spec.ts
  projects/cobbler-frontend/src/app/items/repos/repos.component.spec.ts
  projects/cobbler-frontend/src/app/items/snippets/snippets.component.spec.ts
  projects/cobbler-frontend/src/app/items/systems/systems.component.spec.ts
  projects/cobbler-frontend/src/app/items/templates/templates.component.spec.ts
  projects/cobbler-frontend/src/app/login/login.component.spec.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.spec.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.spec.ts
  projects/cobbler-frontend/src/app/not-found/not-found.component.spec.ts
  projects/cobbler-frontend/src/app/unauthorized/unauthorized.component.spec.ts
Labels: Frontend

#100 Cobbler-API - Add custom settings interface
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-api/src/lib/custom-types/settings.ts
  projects/cobbler-api/src/lib/lib.config.ts
  projects/cobbler-api/src/public-api.ts
  projects/cobbler-frontend/src/app/login/login.component.spec.ts
  projects/cobbler-frontend/src/app/login/login.component.ts
Labels: API-Client, Frontend

#103 Cobbler-Frontend: Fix page reload authentication bug
  projects/cobbler-frontend/src/app/services/auth-guard.service.ts
Labels: Frontend

#105 Cobbler-Frontend: Add Cobbler version to navbar
  projects/cobbler-frontend/src/app/app.module.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.css
  projects/cobbler-frontend/src/app/navbar/navbar.component.html
  projects/cobbler-frontend/src/app/navbar/navbar.component.spec.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
Labels: Frontend

#89 Cobbler-Frontend: Implement Settings CRUD
  projects/cobbler-api/src/lib/cobbler-api.service.spec.ts
  projects/cobbler-api/src/lib/cobbler-api.service.ts
  projects/cobbler-frontend/src/app/app-routing.module.ts
  projects/cobbler-frontend/src/app/app-settings/app-settings.component.html
  projects/cobbler-frontend/src/app/app-settings/app-settings.component.spec.js
  projects/cobbler-frontend/src/app/app-settings/app-settings.component.spec.js.map
  projects/cobbler-frontend/src/app/app-settings/app-settings.component.spec.ts
  projects/cobbler-frontend/src/app/app-settings/app-settings.component.ts
  projects/cobbler-frontend/src/app/app.component.ts
  projects/cobbler-frontend/src/app/app.module.ts
  projects/cobbler-frontend/src/app/common/editable-tree/editable-tree.component.html
  projects/cobbler-frontend/src/app/common/editable-tree/editable-tree.component.scss
  projects/cobbler-frontend/src/app/common/editable-tree/editable-tree.component.spec.ts
  projects/cobbler-frontend/src/app/common/editable-tree/editable-tree.component.ts
  projects/cobbler-frontend/src/app/common/viewable-tree/viewable-tree.component.html
  projects/cobbler-frontend/src/app/common/viewable-tree/viewable-tree.component.scss
  projects/cobbler-frontend/src/app/common/viewable-tree/viewable-tree.component.spec.ts
  projects/cobbler-frontend/src/app/common/viewable-tree/viewable-tree.component.ts
  projects/cobbler-frontend/src/app/login/login.component.spec.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.css
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.html
  projects/cobbler-frontend/src/app/services/item-settings.service.spec.ts
  projects/cobbler-frontend/src/app/services/item-settings.service.ts
  projects/cobbler-frontend/src/app/settings/edit/settings-edit.component.html
  projects/cobbler-frontend/src/app/settings/edit/settings-edit.component.scss
  projects/cobbler-frontend/src/app/settings/edit/settings-edit.component.spec.ts
  projects/cobbler-frontend/src/app/settings/edit/settings-edit.component.ts
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.css
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.html
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.spec.ts
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.ts
Labels: API-Client, Frontend

#97 Change component selector prefix from 'app' to 'cobbler'
  .gitpod.yml
  angular.json
  projects/cobbler-frontend/.eslintrc.json
  projects/cobbler-frontend/src/app/actions/build-iso/build-iso.component.ts
  projects/cobbler-frontend/src/app/actions/check-sys/check-sys.component.ts
  projects/cobbler-frontend/src/app/actions/import-dvd/import-dvd.component.ts
  projects/cobbler-frontend/src/app/actions/repo-sync/repo-sync.component.ts
  projects/cobbler-frontend/src/app/actions/sync/sync.component.ts
  projects/cobbler-frontend/src/app/app-events/app-events.component.ts
  projects/cobbler-frontend/src/app/app.component.html
  projects/cobbler-frontend/src/app/app.component.spec.ts
  projects/cobbler-frontend/src/app/app.component.ts
  projects/cobbler-frontend/src/app/appManage/app-manage.component.ts
  projects/cobbler-frontend/src/app/common/editable-tree/editable-tree.component.ts
  projects/cobbler-frontend/src/app/common/viewable-tree/viewable-tree.component.ts
  projects/cobbler-frontend/src/app/items/distros/distros.component.ts
  projects/cobbler-frontend/src/app/items/files/files.component.ts
  projects/cobbler-frontend/src/app/items/images/images.component.ts
  projects/cobbler-frontend/src/app/items/management-classes/management-classes.component.ts
  projects/cobbler-frontend/src/app/items/packages/packages.component.ts
  projects/cobbler-frontend/src/app/items/profiles/profiles.component.ts
  projects/cobbler-frontend/src/app/items/repos/repos.component.ts
  projects/cobbler-frontend/src/app/items/snippets/snippets.component.ts
  projects/cobbler-frontend/src/app/items/systems/systems.component.ts
  projects/cobbler-frontend/src/app/items/templates/templates.component.ts
  projects/cobbler-frontend/src/app/login/login.component.spec.ts
  projects/cobbler-frontend/src/app/login/login.component.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.html
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.spec.ts
  projects/cobbler-frontend/src/app/manage-menu/manage-menu.component.ts
  projects/cobbler-frontend/src/app/navbar/navbar.component.ts
  projects/cobbler-frontend/src/app/not-found/not-found.component.ts
  projects/cobbler-frontend/src/app/settings/edit/settings-edit.component.html
  projects/cobbler-frontend/src/app/settings/edit/settings-edit.component.spec.ts
  projects/cobbler-frontend/src/app/settings/edit/settings-edit.component.ts
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.html
  projects/cobbler-frontend/src/app/settings/view/settings-view.component.ts
  projects/cobbler-frontend/src/app/unauthorized/unauthorized.component.ts
Labels: Frontend
